.admin_card_image{
    width: 100%;
    aspect-ratio: 9/6;
    object-fit: cover;
    object-position: center center;
}
.space_between{
    display: flex;
    width: 100%;
    justify-content: space-between;
}